{% extends 'base.html' %} {% load static %} {% block content %}

<div class="pc-content">
      <!-- [ breadcrumb ] start -->
      <div class="page-header">
        <div class="page-block">
          <div class="row align-items-center">
            <div class="col-md-12">
              <div class="page-header-title">
                <h4 class="m-b-10">Home</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- [ breadcrumb ] end -->

      <!-- [ Main Content ] start -->
      <div class="row">
        <!-- [ sample-page ] start -->
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <div class="card-title">Page Title</div>
              <div class="card-category">Page Subtitle</div>
            </div>
            <div class="card-body">
              <h5>Hello card</h5>
            </div>
          </div>
        </div>
        <!-- [ sample-page ] end -->
      </div>
      <!-- [ Main Content ] end -->
    </div>

{% endblock %}

<div class="content">
  <div class="container-fluid">
    <h4 class="m-b-10">Home</h4>
    <div class="row">
      <div class="col-md-">

        <div class="card">

          <div class="card-header">

            <div class="card-title">Page Title</div>

            <div class="card-category">Page Subtitle</div>
          </div>

          <div class="card-body">Hello, World</div>

        </div>

      </div>

    </div>

  </div>

</div>